{% extends 'stocks/base.html' %}
       
        <div class="container">
            {% block content %}
            <h1>Stock Information</h1>
            <table border="1">
                <tr>
                    <th>Symbol</th>
                    <th>Price</th>
                    <th>Market Cap</th>
                    <th>EV</th>
                    <th>EV/EBITDA</th>
                    <th>P/E</th>
                    <th>P/BV</th>
                    <th>ROE</th>
                    <th>ROA</th>
                    <th>D/E</th>
                </tr>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.market_cap }}</td>
                    <td>{{ stock.ev }}</td>
                    <td>{{ stock.ev_ebitda }}</td>
                    <td>{{ stock.p_e }}</td>
                    <td>{{ stock.p_bv }}</td>
                    <td>{{ stock.roe_q12024 }}</td>
                    <td>{{ stock.roa_q12024 }}</td>
                    <td>{{ stock.d_e_q12024 }}</td>
                </tr>
                {% endfor %}
            </table>
            
            {% endblock %}
        </div>
       