{% extends 'stocks/base.html' %}
       
        <div class="container">
            {% block content %}
            <h1>Stock Information</h1>
            <table border="1">
                <tr>
                    <th>Symbol</th>
                    <th>Price</th>
                    <th>Market Cap</th>
                    <th>EV</th>
                    <th>EV/EBITDA</th>
                    <th>P/E</th>
                    <th>P/BV</th>
                    <th>ROE</th>
                    <th>ROA</th>
                    <th>D/E</th>
                </tr>
                {{ stock}}
                {{ message}}
            </table>
            
            {% endblock %}
        </div>
       