
{% extends 'stocks/base.html' %}
{% block title %}Stok recomment list{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Market Cap</th>
                <th>EV</th>
                <th>EV/EBITDA</th>
                <th>P/E</th>
                <th>P/BV</th>
                <th>ROE</th>
                <th>ROA</th>
                <th>D/E</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.Symbol }}</td>
                <td>{{ stock.Price }}</td>
                <td>{{ stock.MarketCap }}</td>
                <td>{{ stock.EV }}</td>
                <td>{{ stock.EV_EBITDA }}</td>
                <td>{{ stock.P_E }}</td>
                <td>{{ stock.P_BV }}</td>
                <td>{{ stock.ROE_Q12024 }}</td>
                <td>{{ stock.ROA_Q12024 }}</td>
                <td>{{ stock.D_E_Q12024 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}           