
{% extends 'stocks/base.html' %}
{% block title %}Stok recomment list{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Market Cap</th>
          
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.market_cap }}</td>
              
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}           